<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">
       Edit Todo
    </h1>

    <form method="post" action="/updateTodo">
        <input type="text" name="id" value="<%= singleTodo.id%>" hidden/>
        <label>Enter Todo:-</label>
        <input type="text" name="todo" placeholder="Enter your todo" value="<%= singleTodo.todo%>" />
        <button type="submit">Save</button>
    </form>
</body>
</html>